.studentPage {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  .cards{
      display: flex;
      // background-color: red;
  }
  .all-menus{
    padding: 10px;
    margin: 10px;
    th{
      padding: 10px;
    }
    td{
      padding: 10px;
    }
  }
}
