.navbar {
  border-bottom: 1px solid gray;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  .logo {
    height: 60px;
  }
  .navbar__logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .scrolllinks {
    width: 600px;
    display: flex;
    justify-content: space-around;
    .scroll {
      font-weight: 800;
      transition: all 0.4s ease-out;
      &:hover {
        color: rgb(235, 184, 90);
        text-decoration: underline;
      }
    }
  }
  .buttons {
    display: flex;
    border-radius: 10px;
    gap: 20px;
    text-align: center;
    .hello {
      display: flex;
      align-items: center;
      gap: 10px;
      .name {
        font-weight: bold;
      }
    }
    button {
      all: unset; /* Resets all default styles */
      height: 30px;
      padding: 2px 10px;
      width: 60px;
      border-radius: 10px;
      background-color: rgb(235, 184, 90);
      cursor: pointer; /* Add pointer cursor for better UX */
    }
  }
}
