.fAQs{ 
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-size: x-large; 
    h2{
        display: block;
    }
    .container{
        h2{
            margin: 30px;
        }
        .faq {
            font-size: medium;
            margin: 10px; 
            border:none;
            color: black;
            background-color: white;
        }
         
        .ans{
            font-size: medium;
            padding-bottom: 7px;
            color: rgb(108, 108, 108);
            margin-left: 10px;
            width: 400px;
        }
    }
}