.fAQs{ 
    display: flex;
    justify-content: center;
    margin-top: 150px;
    h2{
        display: block;
    }
    .container{
        h2{
            margin: 30px;
        }
        button{
            margin: 10px;
            // font-weight: bold;
            border:none; background-color: white;
        }
         
        .ans{
            color: rgb(108, 108, 108);
            margin-left: 10px;
            width: 400px;
        }
    }
}