 

.mainContainer {
        margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  .contactusform {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .form {
      display: flex;
      flex-direction: column;

      .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        label {
          margin-bottom: 5px;
          font-weight: 600;
        }

        input,
        select {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          outline: none;
          font-size: 14px;
        }

        input:focus {
          border-color: orange;
        }
      }

      button {
        border: none;
        border-radius: 10px;
        padding: 15px 20px;
        background-color: orange;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      button:hover {
        background-color: darkorange;
      }
    }
  }
}
